[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nemo File Manager
Name[af]=Sessie lêerbestuurder
Name[sq]=Përgjegjës Kartelash Sesioni
Name[am]=የ ክፍለ ጊዜ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[hy]=Նստաշրջանի ֆայլերի կառավարիչ
Name[eu]=Fitxategi kudeatzailea
Name[be]=Файлавы менеджэр сеансаў
Name[bn]=ফাইল ম্যানেজার
Name[bg]=Файлов мениджър
Name[my]=အပိုင်းဖိုင်မန်နေဂျာ
Name[ca]=Gestor de fitxers
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理員
Name[hr]=Upravitelj datoteka
Name[cs]=Správce souborů relace
Name[da]=Filhåndtering
Name[nl]=Bestandbeheerder
Name[eo]=Sesia Dosiera Administranto
Name[et]=Failihaldur
Name[fil]=Tagapamahala ng File ng Session
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers pour la session
Name[fr_BE]=Gestionnaire de fichiers pour la session
Name[gd]=Manaidsear faidhle seisean
Name[gl]=Xestor de ficheiros
Name[gl_ES]=Xestor de ficheiros de sesión
Name[ka]=სესიის ფაილების მენეჯერი
Name[de]=Sitzungs-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[gu]=સત્ર ફાઇલ મેનેજર
Name[ht]=Manadjè Fichye Sesyon
Name[ha]=Manajan Fayil Zama
Name[haw]=Luna Waihona Kau
Name[he]=מנהל קבצים
Name[hi]=सत्र फ़ाइल प्रबंधक
Name[hu]=Munkamenet fájlkezelője
Name[id]=Manajer Berkas
Name[ga]=Bainisteoir Comhad Seisiúin
Name[it]=Gestore dei file
Name[ja]=既定のファイルマネージャ
Name[jv]=Pangatur File Sesi
Name[kn]=ಸೆಷನ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Name[kk]=Файлдар басқарушысы
Name[km]=កម្មវិធីគ្រប់គ្រងឯកសារសម័យ
Name[rw]=Isomo rya dosiye
Name[ko]=파일 관리자
Name[ku]=Rêvebirê Pelê Rûniştinê
Name[ky]=Сеанс файл менеджери
Name[lv]=Faila pārvaldnieks
Name[lt]=Failų tvarkyklė
Name[lb]=Sessioun Datei Manager
Name[mk]=Управувач со датотеки за сесија
Name[ms]=Pengurus Fail Sesi
Name[ml]=സെഷൻ ഫയൽ മാനേജർ
Name[mt]=Maniġer tal-Fajl tas-Sessjoni
Name[mi]=Kaiwhakahaere Kōnae Wātū
Name[mr]=सत्र फाइल व्यवस्थापक
Name[mn]=Сеанс файлын менежер
Name[ne]=सत्र फाइल प्रबन्धक
Name[nb]=Filbehandler
Name[or]=ଅଧିବେଶନ ଫାଇଲ୍ ପରିଚାଳକ |
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ﻦﺸﯿﺳ ﺩ
Name[fa]=ﻪﺴﻠﺟ ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Name[pl]=Menedżer plików sesji
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de Arquivos da Sessão
Name[ro]=Manager de fișiere
Name[ru]=Активный файловый менеджер
Name[ru_RU]=Файловый менеджер сеанса
Name[sm]=Pule o faila o le sauniga
Name[sr]=Управник датотека
Name[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ ﻦﺸﻴﺳ
Name[si]=සැසි ගොනු කළමනාකරු
Name[sk]=Správca súborov
Name[sl]=Upravitelj datotek seje
Name[so]=Maareeyaha Faylka Kulanka
Name[es]=Administrador de archivos
Name[es_ES]=Administrador de archivos de sesión
Name[su]=Pangatur File Sidang
Name[sw]=Kidhibiti Faili cha Kipindi
Name[sv]=Filhanterare
Name[tg]=Менеҷери файли сессия
Name[ta]=அமர்வு கோப்பு மேலாளர்
Name[tt]=Сессия файл менеджеры
Name[te]=సెషన్ ఫైల్ మేనేజర్
Name[th]=ตัวจัดการไฟล์เซสชัน
Name[tr]=Dosya Yöneticisi
Name[tk]=Sessiýa faýl dolandyryjysy
Name[uk]=Файловий менеджер
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ ﻦﺸﯿﺳ
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uz]=Seans fayl menejeri
Name[vi]=Trình quản lý tệp phiên
Name[cy]=Rheolwr Ffeiliau Sesiwn
Name[fy]=Sesje Triembehearder
Name[xh]=Umphathi weFayile yeSeshini
Name[yi]=רעגאַנאַמ עקעט עיסעס
Name[yo]=Alakoso Faili Ikoni
Comment=Session File Manager
Comment[af]=Sessie lêerbestuurder
Comment[sq]=Përgjegjës Kartelash Sesioni
Comment[am]=የክፍለ ጊዜ ፋይል አስተዳዳሪ
Comment[ar]=ﺔﺴﻠﺠﻟﺍ ﻒﻠﻣ ﺮﻳﺪﻣ
Comment[hy]=Նստաշրջանի ֆայլերի կառավարիչ
Comment[eu]=Saioen fitxategi kudeatzailea
Comment[be]=Файлавы менеджэр сеансаў
Comment[bn]=সেশন ফাইল ম্যানেজার
Comment[bg]=Мениджър на файлове за сесия
Comment[my]=အပိုင်းဖိုင်မန်နေဂျာ
Comment[ca]=Gestor de fitxers de sessió
Comment[zh_CN]=会话文件管理器
Comment[zh_TW]=會話文件管理器
Comment[hr]=Upravitelj datoteka sesije
Comment[cs]=Správce souborů relace
Comment[da]=Session filhåndtering
Comment[nl]=Sessie Bestandsbeheer
Comment[eo]=Sesia Dosiera Administranto
Comment[et]=Seansi failihaldur
Comment[fil]=Tagapamahala ng File ng Session
Comment[fi]=Istunnon tiedostonhallinta
Comment[fr]=Gestionnaire de fichiers pour la session
Comment[fr_BE]=Gestionnaire de fichiers pour la session
Comment[gd]=Manaidsear faidhle seisean
Comment[gl]=Xestor de ficheiros de sesións
Comment[gl_ES]=Xestor de ficheiros de sesión
Comment[ka]=სესიის ფაილების მენეჯერი
Comment[de]=Sitzungs-Dateiverwaltung
Comment[el]=Διαχείριση αρχείων συνεδρίας
Comment[gu]=સત્ર ફાઇલ મેનેજર
Comment[ht]=Manadjè Fichye Sesyon
Comment[ha]=Manajan Fayil Zama
Comment[haw]=Luna Waihona Kau
Comment[he]=הלעפה יצבק להנמ
Comment[hi]=सत्र फ़ाइल प्रबंधक
Comment[hu]=A munkamenet fájlkezelője
Comment[id]=Manajer File Sesi
Comment[ga]=Bainisteoir Comhad Seisiúin
Comment[it]=Gestione file di sessione
Comment[ja]=セッションファイルマネージャ
Comment[jv]=Pangatur File Sesi
Comment[kn]=ಸೆಷನ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Comment[kk]=Сеанс файл менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងឯកសារសម័យ
Comment[rw]=Isomo rya dosiye
Comment[ko]=세션 파일 관리자
Comment[ku]=Rêvebirê Pelê Rûniştinê
Comment[ky]=Сеанс файл менеджери
Comment[lv]=Sesijas failu pārvaldnieks
Comment[lt]=Sesijos failų tvarkyklė
Comment[lb]=Sessioun Datei Manager
Comment[mk]=Управувач со датотеки за сесија
Comment[ms]=Pengurus Fail Sesi
Comment[ml]=സെഷൻ ഫയൽ മാനേജർ
Comment[mt]=Maniġer tal-Fajl tas-Sessjoni
Comment[mi]=Kaiwhakahaere Kōnae Wātū
Comment[mr]=सत्र फाइल व्यवस्थापक
Comment[mn]=Сеанс файлын менежер
Comment[ne]=सत्र फाइल प्रबन्धक
Comment[nb]=Filbehandler
Comment[or]=ଅଧିବେଶନ ଫାଇଲ୍ ପରିଚାଳକ |
Comment[pa]=ਸੈਸ਼ਨ ਫਾਈਲ ਮੈਨੇਜਰ
Comment[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ﻦﺸﯿﺳ ﺩ
Comment[fa]=ﻪﺴﻠﺟ ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Comment[pl]=Menedżer plików sesji
Comment[pt]=Gestor de ficheiros da sessão
Comment[pt_BR]=O ‘Session File Manager’ ou ‘Desktop Defaults Follow FM’ permite iniciar ou executar o gerenciador de arquivos padrão da sessão
Comment[ro]=Manager de fișiere de sesiune
Comment[ru]=Активный файловый менеджер
Comment[ru_RU]=Файловый менеджер сеанса
Comment[sm]=Pule o faila o le sauniga
Comment[sr]=Менаџер датотека сесије
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ ﻦﺸﻴﺳ
Comment[si]=සැසි ගොනු කළමනාකරු
Comment[sk]=Správca súborov relácie
Comment[sl]=Upravitelj datotek seje
Comment[so]=Maareeyaha Faylka Kulanka
Comment[es]=Administrador de archivos de sesión
Comment[es_ES]=Administrador de archivos de sesión
Comment[su]=Pangatur File Sidang
Comment[sw]=Kidhibiti Faili cha Kipindi
Comment[sv]=Filhanterare
Comment[tg]=Менеҷери файли сессия
Comment[ta]=அமர்வு கோப்பு மேலாளர்
Comment[tt]=Сессия файл менеджеры
Comment[te]=సెషన్ ఫైల్ మేనేజర్
Comment[th]=ตัวจัดการไฟล์เซสชัน
Comment[tr]=Oturum Dosya Yöneticisi
Comment[tk]=Sessiýa faýl dolandyryjysy
Comment[uk]=Менеджер файлів сеансу
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ ﻦﺸﯿﺳ
Comment[ug]=ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ ﻦﯩﻐﯩﻳ
Comment[uz]=Seans fayl menejeri
Comment[vi]=Trình quản lý tệp phiên
Comment[cy]=Rheolwr Ffeiliau Sesiwn
Comment[fy]=Sesje Triembehearder
Comment[xh]=Umphathi weFayile yeSeshini
Comment[yi]=רעגאַנאַמ עקעט עיסעס
Comment[yo]=Alakoso Faili Ikoni
Icon=user-home
Categories=Application;FileManager;
MimeType=inode/directory;
Exec=nemo %U
Terminal=false
NoDisplay=True
GenericName=Session File Manager
GenericName[af]=Sessie lêerbestuurder
GenericName[sq]=Përgjegjës Kartelash Sesioni
GenericName[am]=የ ክፍለ ጊዜ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[hy]=Նստաշրջանի ֆայլերի կառավարիչ
GenericName[eu]=Fitxategi kudeatzailea
GenericName[be]=Файлавы менеджэр сеансаў
GenericName[bn]=ফাইল ম্যানেজার
GenericName[bg]=Файлов мениджър
GenericName[my]=အပိုင်းဖိုင်မန်နေဂျာ
GenericName[ca]=Gestor de fitxers
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
GenericName[hr]=Upravitelj datoteka
GenericName[cs]=Správce souborů relace
GenericName[da]=Filhåndtering
GenericName[nl]=Bestandbeheerder
GenericName[en_GB]=Session Management
GenericName[eo]=Sesia Dosiera Administranto
GenericName[et]=Failihaldur
GenericName[fil]=Tagapamahala ng File ng Session
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers pour la session
GenericName[fr_BE]=Gestionnaire de fichiers pour la session
GenericName[gd]=Manaidsear faidhle seisean
GenericName[gl]=Xestor de ficheiros
GenericName[gl_ES]=Xestor de ficheiros de sesión
GenericName[ka]=სესიის ფაილების მენეჯერი
GenericName[de]=Sitzungs-Dateiverwaltung
GenericName[el]=Διαχειριστής αρχείων
GenericName[gu]=સત્ર ફાઇલ મેનેજર
GenericName[ht]=Manadjè Fichye Sesyon
GenericName[ha]=Manajan Fayil Zama
GenericName[haw]=Luna Waihona Kau
GenericName[he]=מנהל קבצים
GenericName[hi]=सत्र फ़ाइल प्रबंधक
GenericName[hu]=A munkamenet fájlkezelője
GenericName[id]=Manajer Berkas
GenericName[ga]=Bainisteoir Comhad Seisiúin
GenericName[it]=Gestore dei file
GenericName[ja]=セッションファイルマネージャ
GenericName[jv]=Pangatur File Sesi
GenericName[kn]=ಸೆಷನ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
GenericName[kk]=Файлдар басқарушысы
GenericName[km]=កម្មវិធីគ្រប់គ្រងឯកសារសម័យ
GenericName[rw]=Isomo rya dosiye
GenericName[ko]=파일 관리자
GenericName[ku]=Rêvebirê Pelê Rûniştinê
GenericName[ky]=Сеанс файл менеджери
GenericName[lv]=Faila pārvaldnieks
GenericName[lt]=Failų tvarkyklė
GenericName[lb]=Sessioun Datei Manager
GenericName[mk]=Управувач со датотеки за сесија
GenericName[ms]=Pengurus Fail Sesi
GenericName[ml]=സെഷൻ ഫയൽ മാനേജർ
GenericName[mt]=Maniġer tal-Fajl tas-Sessjoni
GenericName[mi]=Kaiwhakahaere Kōnae Wātū
GenericName[mr]=सत्र फाइल व्यवस्थापक
GenericName[mn]=Сеанс файлын менежер
GenericName[ne]=सत्र फाइल प्रबन्धक
GenericName[nb]=Filbehandler
GenericName[or]=ଅଧିବେଶନ ଫାଇଲ୍ ପରିଚାଳକ |
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ﻦﺸﯿﺳ ﺩ
GenericName[fa]=ﻪﺴﻠﺟ ﻞﯾﺎﻓ ﺮﯾﺪﻣ
GenericName[pl]=Menedżer plików sesji
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos da Sessão
GenericName[ro]=Manager de fișiere
GenericName[ru]=Активный файловый менеджер
GenericName[ru_RU]=Файловый менеджер сеанса
GenericName[sm]=Pule o faila o le sauniga
GenericName[sr]=Управник датотека
GenericName[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ ﻦﺸﻴﺳ
GenericName[si]=සැසි ගොනු කළමනාකරු
GenericName[sk]=Správca súborov
GenericName[sl]=Upravitelj datotek seje
GenericName[so]=Maareeyaha Faylka Kulanka
GenericName[es]=Administrador de archivos
GenericName[es_ES]=Administrador de archivos de sesión
GenericName[su]=Pangatur File Sidang
GenericName[sw]=Kidhibiti Faili cha Kipindi
GenericName[sv]=Filhanterare
GenericName[tg]=Менеҷери файли сессия
GenericName[ta]=அமர்வு கோப்பு மேலாளர்
GenericName[tt]=Сессия файл менеджеры
GenericName[te]=సెషన్ ఫైల్ మేనేజర్
GenericName[th]=ตัวจัดการไฟล์เซสชัน
GenericName[tr]=Dosya Yöneticisi
GenericName[tk]=Sessiýa faýl dolandyryjysy
GenericName[uk]=Файловий менеджер
GenericName[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ ﻦﺸﯿﺳ
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uz]=Seans fayl menejeri
GenericName[vi]=Trình quản lý tệp phiên
GenericName[cy]=Rheolwr Ffeiliau Sesiwn
GenericName[fy]=Sesje Triembehearder
GenericName[xh]=Umphathi weFayile yeSeshini
GenericName[yi]=רעגאַנאַמ עקעט עיסעס
GenericName[yo]=Alakoso Faili Ikoni
Keywords=unknown;
Keywords[ca]=desconegut;
Keywords[fr]=knewstuff-dialog téléchargement partage de données d’applications
Keywords[fr_BE]=knewstuff-dialog téléchargement partage de données d’applications
Keywords[gl_ES]=descoñecido;
Keywords[de]=Schaufenster;kde;showcase;
Keywords[pt]=desconhecido;
Keywords[pt_BR]=gerenciador de arquivos padrão;gerenciador de arquivos predefinido;área de trabalho;arquivador;pastas;arquivos;ficheiros;
Keywords[ru]=витрина;Schaufenster;kde;showcase;
Keywords[sl]=neznano;
Keywords[es]=desconocido
Keywords[es_ES]=desconocido
Keywords[sv]=okänd
